* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: none;
}

*::selection {
    background-color: white;
    color: #95C11E;
}

html,
body {
    height: 100%;
    width: 100%;
}


body::-webkit-scrollbar {
    display: block;
    width: 7px;
    background-color: black;

}

body::-webkit-scrollbar-thumb {
    display: block;
    width: 5px;
    border-radius: 30px;
    background-color: #95C11E;

}

#cursor {
    height: 25px;
    width: 25px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;

}

#cursor-blur {
    height: 300px;
    width: 300px;
    background-color: #80a12581;
    border-radius: 50%;
    position: fixed;
    filter: blur(30px);
    z-index: 9;

}

#nav {
    height: 150px;
    width: 100%;
    padding: 0 150px;
    display: flex;
    align-items: center;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;

}

#nav h4 {
    /* cursor: pointer; */
    padding: 30px 2px;

}

#nav h4:hover {
    color: #95C11E;
}


#nav img {
    height: 80px;
    cursor: pointer;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1 {
    font-size: 140px;
    font-weight: 1000;
    position: relative;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}

#page1 p {
    font-size: 20px;
    font-weight: 700;
    width: 40%;
}

#page2 {
    height: 100vh;
    width: 100%;
    z-index: 10;
    position: relative;
}

#scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

.scroller-in {
    /* background-color: red; */
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}


#scroller h4 {
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 2px white;
    margin-right: 20px;
    transition: all linear 0.2s;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    /* z-index: -1; */
}

#scroller h4:hover {
    color: #95C11E;
    -webkit-text-stroke: 2px #95C11E;
}


@keyframes scroll {
    form {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#about-us {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
    padding: 0 40px;
}

#about-us img {
    height: 250px;
    width: 250px;
    border-radius: 30px;
    object-fit: cover;
}

#about-us-in {
    width: 30%;
    text-align: center;
    /* position: absolute; */
}

#about-us-in h3 {

    font-size: 30px;
    padding-bottom: 30px;

}

#cards-container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
}

.card {
    height: 80%;
    width: 20%;
    background-color: #95C11E;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* z-index: 100; */
    /* position: absolute; */
}

#card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}

#card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C1024&ssl=1);
}

#card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 50px;
    padding-top: 150px;
    border-radius: 30px;
    opacity: 0;
    transition: all ease 0.6s;
    /* gap: 300px; */
}

.overlay h4 {
    color: black;
    font-size: x-large;
    font-weight: 900;
    /* padding-bottom: 600px; */
}

.overlay p {
    padding-top: 30px;
    color: black;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.overlay p:hover {
    cursor: pointer;
}

.overlay h4:hover {
    cursor: pointer;
}

#green-div {

    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #59dd01, #95C11E);
    cursor: default;
}

#green-div h4 {
    width: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: black;
    font-weight: 900;
    cursor: default;
}

#green-div img {
    height: 100%;
    object-fit: cover;
    width: 15%;
    cursor: default;
}

#page3 {
    height: 90vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#page3>p {
    width: 45%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

#page3 img {
    position: absolute;
    height: 60px;
}

#page3 #colon1 {
    left: 20%;
    top: 40%;
}

#page3 #colon2 {
    right: 20%;
    bottom: 40%;
}

#page4 {
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.elem {
    height: 70%;
    width: 20%;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
}

.elem h2 {
    height: 100%;
    width: 100%;
    color: black;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: absolute;
    transition: all ease 0.5s;
    z-index: 10;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease 0.5s;
}

.elem:hover h2 {
    color: white;
    background: transparent;
}

.elem:hover img {
    scale: 1;
}

#page4 h1 {
    font-size: 85px;
    font-weight: 800;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -0.5%;
    color: black;
    -webkit-text-stroke: 2px white;

}

#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #59dd01, #95C11E);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
}




#footer>img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img {
    height: 100px;
}

#f1,
#f2,
#f3,
#f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
}

#f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
}

#f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
}

#f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}